body{
    background-image: url("./pattern.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 25, 102);
}

.title{
    font-weight: bold;
    font-size: 50px;
}

img{
    max-width: 17%;
    max-height: 17%;
}

.About_Me, p {
    margin-left: 3%;
}

.About_Me{
    text-decoration: underline;
    font-size: 33px;
}

p{
    margin-right: 50%;
}