.jumbotron{
    background-color: rgb(85, 14, 85);
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: underline;  
}

.title{
    font-weight: bold;
    font-size: 55px;
}

.Cecelia{
    height: 170px;
    width: 170px;
}

.About_Me, p, .Projects, li, .Interests{
    margin-left: 3%;
    color: rgb(65, 25, 102);
}

.About_Me, .Projects, .Interests{
    text-decoration: underline;
}

p{
    margin-right: 30%;
}

img{
    margin-left: 3%;
    width: 200px;
    height: 50px;
}